<!DOCTYPE html>
<html lang="en">

<head th:replace="layouts/main :: head"></head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div th:replace="layouts/main :: menu"></div>

            <div th:replace="layouts/main :: top_nav"></div>

            <div class="right_col" role="main">
                <a th:href="@{/locations/edit/{id}(id=${location.id})}">Edit</a>
                | <a th:href="@{/locations/delete/{id}(id=${location.id})}">Delete</a>
                <div th:fragment="location">
                    <div>
                        <span>Id: </span><span th:text="${location.id}"></span>
                    </div>
                    <div>
                        <span>Name: </span><span th:text="${location.name}"></span>
                    </div>
                </div>
            </div>

            <footer th:replace="layouts/main :: footer"></footer>
        </div>
    </div>

    <div th:replace="layouts/main :: scripts"></div>

</body>

</html>