<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div th:replace="fragments/header :: header">...</div>
    <a th:href="@{/locations}">Locations</a> <span th:if="${location.id}">| <a
            th:href="@{/locations/{id}(id=${location.id})}">Location</a></span>
    <form th:fragment="form" action="/locations" th:action="@{/locations}" th:object="${location}" method="post">
        <div>
            <input type="hidden" th:field="*{id}">
        </div>
        <div>
            <label for="name">Name</label>
            <input type="text" th:field="*{name}">
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
</body>

</html>